# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Environment variables
.env
.env.local

# Logs
*.log

# Editor
.vscode/
.idea/
.DS_Store

#firebase
.firebase/

# Cloudflare local development
.wrangler/

# Local environment files
.env
.env.*

# Keep example environment template
!.env.dist